<footer class="footer">
	<small>
 		<a href="http://whiteboard.sv.cmu.edu/people/JasonTao/">Your Resume</a>
 		by Jason Tao
	</small>
	<nav>
		<ul>
			<li><%= link_to("About", 	about_path) %></li>
		</ul>
	</nav>	
</footer>